/* Details.css */
.details-container {
  width: 100%;
  max-width: 500px;
  margin: auto;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  font-family: Arial, sans-serif;
}

.details-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 15px;
  cursor: pointer;
  background-color: #f7f7f7;
  border-bottom: 1px solid #ddd;
}

.details-icon-left {
  margin-right: 10px;
}

.details-title {
  flex-grow: 1;
  margin: 0;
}

.details-icon-right {
  font-size: 1.2em;
}

.details-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease, opacity 0.3s ease;
  opacity: 0;
}

.details-content.open {
  max-height: 100px; /* Ajusta según el contenido */
  opacity: 1;
}

