:root[data-theme="light"] {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
   --color-background: #ffffff;
  --color-background-success-filled: #107c10;
  --color-background-success-text: #f1faf1;
  --color-text: #000000;
  --color-primary: tomato;
  --color-border-success-outlined: #9fd89f;
  --color-border-success-filled: #107c10;
  --color-border-success-text: #9fd89f;
  --color-cl-success-outlined: #0e700e;
  --color-cl-success-filled: #fff;
  --color-cl-success-text: #242424;
  --color-icon-success-text: #0e700e;

}

:root[data-theme="dark"] {
   font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --color-primary: #6200ea;
  --color-background: #000000;
  --color-background-success-filled: #0d630d;
  --color-background-success-text: #182e10;
  --color-text: #ffffff;
  --color-border-success-outlined: #18c118;
  --color-border-success-filled: #18bd18;
  --color-border-success-text: #296529;
  --color-cl-success-outlined: #83f083;
  --color-cl-success-filled: #e8e6e3;
  --color-cl-success-text: #d1cdc7;
  --color-icon-success-text: #83f083;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
